.newsHeader{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    
}

.newsSubheader {
    font-style: italic;
}

  .button {
    min-width: 3rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: transparent; /* Make background transparent */
    border: 2px solid transparent; /* Make border transparent */
    border-radius: 10px;
    color: black;
    transition-duration: 0.3s;
    align-self: center;
  }
  
  .button:hover {
    background-color: #d7e4f8; /* Show background color on hover */
    border-color: #5287e3; /* Show border color on hover */
    color: black;
  }

  .news-container {
    display: flex;
    flex-wrap: wrap; /* Allows the items to wrap to the next line */
    justify-content: center; /* Centers the items horizontally */
    gap: 20px; /* Adds space between the items */
    padding: 20px;
  }
  
  .news-article {
    flex: 1 1 300px; /* Allows items to grow and shrink, sets a base width */
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-width: 300px; /* Ensures a minimum width */
    max-width: 300px; /* Ensures a maximum width */
  }
  
  .news-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .news-summary {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .news-source,
  .news-date {
    font-size: 0.9em;
    color: #555;
  }