.inputLabel {
    /* margin-left: 220px;
    padding-right: 10px; */

}

.inputBox {
    max-width: 100px;
    margin-top: 20px;
}

.scoreBox {
    display: inline-block; /* Ensure it displays inline */
    padding: 10px 20px;
    margin: 20px 5px;
    background-color: #eeeeee;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
    user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.scoreBoxBullish {
    display: inline-block; /* Ensure it displays inline */
    padding: 10px 20px;
    margin: 20px 5px;
    background-color: #b3d5f5;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
    user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
