
.table {
    margin: 20px 240px;
    font-family: sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 3rem;
  }
  .table thead tr {
    background-color: #a4bae2;
    color: #000000;
    text-align: center;
    margin: 1rem auto;
    font-weight: bold;

  }
  .table th,
  .table td {
    padding: 12px 15px;
    text-align: center;
    border: none;
    vertical-align: top;

  }
  .table td p {
    font-size: 13px;
  }

  #newsTitle {
    font-size: 17px;
    font-weight: bold;
    height: 85px;
  }
  #newsSummary {
    font-size: 15px;
    font-style: italic;
    min-height: 150px;
  }

  .table td {
    cursor: pointer;
  }
  .table td:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }

  .input {
    font-size: 1rem;
    width: 50px;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid #a3a3a3
  }

  .button {
    min-width: 3rem;
    margin: 1rem;
    margin-left: 6rem;
    padding: 0.5rem;
    background-color: #d7e4f8;
    border-radius: 10px;
    border: 2px solid #5287e3;
    color: black;
    transition-duration: 0.3s;
    align-self: center;
  }
  .button:hover {
    background-color: white;
    color: black;
    border-width: 2px;
  }

  

  
