.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.refresh-button {
  margin: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.refresh-button:hover {
  background-color: #0056b3;
}
